@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'base/reset';
@use 'base/typography';
@use 'layout/container';
@use 'layout/grid';
@use './components/buttons';

body {
  background: variables.$background;
  color: variables.$text;
}

.prueba-colores {
  padding: 20px;
  background: variables.$primary;
  color: white;
}

.prueba-secundario {
  padding: 20px;
  background: variables.$secondary;
  color: white;
}

.prueba-flex {
  @include mixins.flex-center;
  height: 100px;
  background: variables.$primary;
  color: white;
}

.prueba-responsive {
  background: red;

  @include mixins.responsive(md) {
    background: green;
  }
}

.test {
  @include mixins.flex-center;
  height: 100px;
  background: red;
}

//prueba de boton 
.prueba-btn {
  padding: 20px;
  background: variables.$primary;
}
