@use '../abstracts/variables' as v;

//Clase Principal
.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: v.$spacing-xs;

    font-family: v.$font-main;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1;
    white-space: nowrap;

    padding: 8px v.$spacing-md;
    border-radius: v.$radius-sm;
    border: 1px solid transparent;
}

// VARIANTE PÍLDORA
.badge-pill {
    border-radius: 9999px;
}

.badge-primary {
  background-color: rgba(v.$primary, 0.2);
  border: 1px solid rgba(v.$primary, 0.4);
  color: v.$primary;
}

.badge-success {
  background-color: rgba(v.$success, 0.2);
  border: 1px solid rgba(v.$success, 0.4);
  color: v.$success;
}

.badge-danger {
  background-color: rgba(v.$danger, 0.2);
  border: 1px solid rgba(v.$danger, 0.4);
  color: v.$danger;
}

.badge-warning {
  background-color: rgba(v.$warning, 0.2);
  border: 1px solid rgba(v.$warning, 0.4);
  color: v.$warning;
}